/* Universal selector */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* some basic style */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Barlow Semi Condensed", sans-serif;
  color: #303030;
}
p {
  font-family: "Source Sans Pro", sans-serif;
  color: #303030;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

body {
  overflow-x: hidden;
  height: 110vh;
}

/* on-scrolling */
.scrolling-active {
  background-color: white;
  box-shadow: 1px 1px 8px rgb(170, 164, 164);
}
/* header style */
header {
  width: 100vw;
  top: 0;
  z-index: 1;
  position: fixed;
}

.navbar-fixed {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 15px 0px 18px;
}
.navbar-fixed > a {
  font-size: 28px;
  color: rgb(29, 28, 28);
}
.search-post {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.search-post li {
  width: 200px;
  border: 1px solid #303030;
}
.search-post li div {
  margin-top: -10px;
}
.search-post li div label {
  margin-left: 10px;
  padding: 0px 2px;
  font-weight: 600;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: black;
  background-color: white;
}
.search-post li div input {
  width: 100%;
  margin: 3px 0px 0px;
  padding: 5px 8px;
  border: none;
}
.search-post li div input:focus {
  outline: none !important;
}

/* main style */
main {
  position: relative;
  top: 11vh;
}
main > div {
  width: 90%;
  position: relative;
  margin: auto;
  top: 10vh;
}
.post-here {
  font-size: 20px;
  margin-bottom: 50px;
}
.new-commit {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}
.new-commit p {
  width: 65%;
}
.new-commit p::before {
  content: '•';
  margin-right: 5px;
}
.new-commit h4 {
  width: 33%;
  margin-left: auto;
}
main > div:nth-child(2) {
  display: flex;
}
.create-post {
  width: 70%;
}
.create-post h3 {
  position: absolute;
  margin: -12px 0px 0px 10px;
  padding: 0px 3px;
  background-color: white;
}
.create-post textarea {
  resize: none;
  width: 100%;
  height: 300px;
  font-size: 18px;
  padding: 20px 10px 8px;
  z-index: -1;
}
.create-post textarea:focus {
  outline: none !important;
  border:1px solid blue;
  box-shadow: 0 0 3px #719ECE;
}
.create-post button {
  margin-top: 15px;
  margin-left: 80%;
  padding: 17px 30px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  background-color: #359900;
}
.create-post button:hover {
  background-color: #008329;
}
.create-post + .user-detail {
  display: flex;
}
.user-detail h4, .user-detail p {
  font-size: 18px;
  margin: auto 30px 100px 0px;
}
.user-detail h4::before {
  content: '-';
}
